.container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  gap: 15px;
  border: solid 1px #ccc;
  padding: 20px;
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputField label {
  font-weight: bold;
}

.inputField input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 12px;
}

.button {
  align-self: center;
  padding: 10px;
  width: 250px;
  height: 50px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #e0e0e0;
}
