.navContainer {
  display: flex;
  gap: 20px;
}

.link {
  /* Navigation.module.css ile benzer */
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: #ffc107; /* Vurgu rengi */
}

.active {
  text-decoration: underline;
  color: #ffc107;
}
