/* src/pages/Home/Home.module.css */

.container {
  padding: 40px;
  text-align: center;
}

.title {
  font-size: 32px;
  color: #3f51b5; /* AppBar rengine uygun mavi tonu */
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}
