body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

/* * Reset CSS (Varsayılan tarayıcı stillerini sıfırlama)
* Bu, bileşenlerinizin daha tutarlı görünmesini sağlar.
*/
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
