.container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.welcomeText {
  color: #fff;
  font-size: 16px;
}

.userName {
  font-weight: 700;
}

.logoutButton {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #f44336; /* Kırmızı renk */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logoutButton:hover {
  background-color: #d32f2f;
}
